body{
    padding: 0px;
    margin: 0px;
    background-color: #ffffff00;
    font-family: Raleway, sans-serif;;
}
.logo-cointainer{
    background-color: #fca312;
    height: 50px;
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;

}
.logo-cointainer img{
    height: 7.5vh;
    width: 8vh;

}
.logo-cointainer ul li{
    list-style-type: none;
    display: inline-block;
   
}
.logo-cointainer ul  a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 8px 16px;
} 
.logo-cointainer  a:hover{
    color: rgba(0, 0, 0, 0.532);
    font-size: 1.03em;
}


.Game-cointainer{
    background: url("./images/Bg-image.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100vh;
} 
